<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Our Logo</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="/profile" role="button">
    Profile
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/matches" role="button">
      Matches
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/messages" role="button">
      Messages
      </a>
    </div>
  </form>
</nav>

<h3>Messages</h3>
<table>
  <% current_user.getmatches.each do |person| %>
  <tr>
    <td><li class="round-image-50"><%= image_tag(person.avatar.url) %></li></td>
    <td><strong><%= person.id %> <%= person.name %> <%= person.email %></strong></td>
  </tr>    
  <% end %></li>
</table>

----

<br>Conversations:<br>


<div class=”ui segment”>
 <h3>Mailbox</h3>

      <a class="btn btn-outline-success" href="/conversations/messages" role="button">
      Conversations
      </a>
</div>
