<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="images/logo.png" width="110" height="85"></a>
  <% if user_signed_in? %>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="profile" role="button">
    Profile
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="matches" role="button">
      Swipe
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="messages" role="button">
      Message
      </a>
    </div>
  </form>
  <% end %>
</nav>


          <div class="inbox_chat">
            <div class="chat_list active_chat">
      <% if @conversations != nil %>
      <% @conversations.each do |conversation| %>
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                <% if conversation.user1_id == current_user.id || conversation.user2_id == current_user.id %>
                  <% if conversation.user1_id == current_user.id %>
                    <% recipient = User.find(conversation.user2_id) %>
                  <% else %>
                    <% recipient = User.find(conversation.user1_id) %>
                  <% end %>
                <% end %>

                  <h5><%= link_to recipient.name, conversation_messages_path(conversation)%>
                    <span class="chat_date">UNMATCH</span></h5>
                  <p>Test, which is a new approach to have all solutions 
                    astrology under one roof.</p>

                </div>
              </div>
      <% end %>
      <% end %>
