<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="images/logo.png" width="110" height="85"></a>
  <% if user_signed_in? %>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="profile" role="button">
    Profile
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="matches" role="button">
      Swipe
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="messages" role="button">
      Message
      </a>
    </div>
  </form>
  <% end %>
</nav>


          <div class="inbox_chat">
            <div class="chat_list active_chat">
      <% if @conversations != nil %>
      <% @conversations.each do |conversation| %>
          <% if conversation.user1_id == current_user.id || conversation.user2_id == current_user.id %>
            <% if conversation.user1_id == current_user.id %>
              <% recipient = User.find(conversation.user2_id) %>
            <% else %>
              <% recipient = User.find(conversation.user1_id) %>
            <% end %>

              <div class="chat_people">
                <div class="chat_img">
                  <%= image_tag(recipient.avatar.url) %>
                </div>
                <div class="chat_ib">

                  <h5><%= link_to recipient.name, conversation_messages_path(conversation)%>
                    <span class="chat_date">
                    <%= link_to "UNMATCH", 'unmatch?' + {person2_id:current_user.id, person1_id: recipient.id}.to_param, method: :post, remote: false %>
                    </span></h5>
                  <p></p>

                </div>
              </div>
            
          <% else %>
              You have no matches! Keep swiping!
          <% end %>

      <% end %>
      <% end %>
